<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="caminho_arquivos" value="C:\Whatsbot\Whatsbot\Arquivos\"/>
		<add key="caminho_text" value="C:\Rots\FilesText\"/>
		<add key="caminho_Assist" value="C:\Rots\FilesText\Assist\"/>
		<add key="caminho_opt" value="C:\Rots\FilesText\opt\"/>
		<add key="caminho_msg" value="C:\Rots\FilesText\opt\msg\"/>
	</appSettings>
</configuration>